.edit-modal {
  width: 480px;
  height: 100%;
}

.edit-title { 
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.edit-input {
  font-size: 16px;
  font-weight: 500;
  margin-left: -70%;
}

.edit-input-container {
  display: flex;
  justify-content: center;
}

.edit-inputtext {
  width: 400px;
  height: 45px;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  border-radius: 6px;
  font-size: 14px;
}

.edit-img {
  font-size: 16px;
  font-weight: 500;
  margin-left: -65%;
}

.edit-img-container {
  display: flex;
  justify-content: center;
}

.edit-inputimg {
  width: 400px;
  height: 45px;
  margin: 10px 0px;
  border-radius: 6px;
  font-size: 14px;
}

.edit-group {
  font-size: 16px;
  font-weight: 500;
  margin-left: -70%;
}

.edit-group-container {
  display: flex;
  justify-content: center;
}

.edit-inputgroup {
  width: 400px;
  height: 120px;
  border-radius: 6px;
  margin: 10px 0px;
  font-size: 14px;
}

.edit-private {
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -65%;
}

.edit-select {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -70%;
}

.edit-pwd {
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -65%;
}

.edit-pwd-container {
  display: flex;
  justify-content: center;
}

.edit-inputpwd {
  width: 400px;
  height: 45px;
  margin: 10px 0px;
  border-radius: 6px;
  font-size: 14px;
}

.edit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-button {
  width: 400px;
  height: 50px;
  border-radius: 6px;
  color: white;
  background-color: #282828;
  margin-top: 10px;
}
