.mypage-container {
  width: 1920px;
}

.mylogo-content {
  position: absolute;
  top: 0;
  width: 1920px;
  height: 100px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-content {
  display: flex;
  width: 1560px;
  height: 273px;
  margin: 100px 180px 30px 180px;
}

.group-img {
  width: 262px;
  height: 273px;
  border-radius: 6px;
}

.group-info {
  margin-left: 20px;
  width: 100%;
}

.group-button {
  display: flex;
  margin-left: 80%;
  font-size: 14px;
}

.button-fix {
  background-color: white;
  color: #282828;
}

.button-delete {
  background-color: white;
  color: #8D8D8D;
}

.group-header {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-left: 10px;
}

.group-dday {
  font-size: 16px;
}

.group-status {
  font-size: 16px;
  color: #8D8D8D;
}

.group-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  white-space: nowrap;
}

.group-title {
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
  white-space: nowrap;
}

.group-stats {
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
}

.group-description {
  font-size: 18px;
  margin-bottom: 25px;
  margin-left: 10px;
  white-space: nowrap;
}

.group-badge {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
}

.badges {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  margin-left: 10px;
}

.badge {
  background-color: #F4F4F4;
  padding: 16px 30px 16px 30px;
  gap: 10px;
  border-radius: 50px;
}

.group-actions {
  display: flex;
  margin-top: -5.5%;
  margin-left: 85%;
}

.button-empathy {
  width: 200px;
  height: 50px;
  border-color: #282828;
  border-radius: 6px;
  padding: 15px 40px;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
}

.favicon {
  padding-right: 10px;
}

.memory-list {
  margin: 100px 180px;
}

.memory-header {
  display: flex;
  justify-content: space-between;
}

.memory-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-left: 10%;
}

.memory-button {
  width: 200px;
  height: 45px;
  padding: 10px 20px;
  background-color: #282828;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.memory-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.privacy-select {
  display: flex;
}

.privacy-select-public {
  padding: 0;
}

.privacy-select-private {
  padding: 0;
}

.inputtext {
  width: 1186px;
  height: 45px;
}

.memory-order {
  width: 160px;
  height: 45px;
  margin: 0px 5px;
}

.no-memory {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -2%;
}

.last-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: -3%;
  margin-left: -2%;
}

.pagination {
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: absolute; 
  bottom: 20px; 
  left: 49%; 
  transform: translateX(-50%); 
}

.pagination button {
  margin: 0 10px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer;
}

.pagination span {
  font-size: 16px; 
  margin: 0 10px; 
}